<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
        <add key="Github" value="https://nuget.pkg.github.com/Staticsoft/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <Github>
            <add key="Username" value="StaticsoftPackages" />
            <add key="ClearTextPassword" value="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" />
        </Github>
    </packageSourceCredentials>
</configuration>
